<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Voerum</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap core CSS -->
    <link href="/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/Template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="/Template/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/Template/css/freelancer.min.css" rel="stylesheet">
</head>
<body>
    <!--Navbar-->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/Web/index">Voerum</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               <br />
            </ul>
          
            <div class="text-align: right">
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
</nav>

<div class="container body-content">
    @RenderBody()
    @RenderSection("SPAViews", required: false)
    <hr/>
    
        <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Locatie</h4>
                    <p class="lead mb-0">
                        Windesheim Flevoland
                            
                    </p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <br/>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">Contact</h4>
                    <p class="lead mb-0">
                           
                        <a href="mailto:admin@admin.nl">Contact Admin</a>.
                    </p>
                </div>
            </div>
        </div>
        

        <div class="copyright py-4 text-center text-white">
            <div class="container">
                <small>Copyright &copy; Windesheimvoerum 2019</small>
            </div>
        </div>
    </footer>
    
    <!-- Bootstrap core JavaScript -->
    <script src="/Template/vendor/jquery/jquery.min.js"></script>
    <script src="/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/Template/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/Template/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/Template/js/jqBootstrapValidation.js"></script>
    <script src="Template/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/Template/js/freelancer.min.js"></script>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("Scripts", required: false)
</body>



</html>
